In [13]:
import pandas as pd

In [14]:
data_in = pd.read_csv('../data/processed/psr_features.csv')

In [17]:
data_in.query('valor_indenização==valor_indenização').shape

(19688, 65)

In [25]:
pd.to_datetime(data_in.dt_apolice).dt.year

C:\Users\nande\AppData\Local\Temp\ipykernel_33776\3518601818.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(data_in.dt_apolice).dt.year

0         2021
1         2019
2         2020
3         2022
4         2011
          ...
264910    2019
264911    2019
264912    2020
264913    2020
264914    2017
Name: dt_apolice, Length: 264915, dtype: int64

In [8]:
from benfordslaw import benfordslaw

# Initialize
bl = benfordslaw(alpha=0.05)

# Load elections example
df = bl.import_example(data='USA')

[benfordslaw] >Downloading [USA] dataset from github source..
[benfordslaw] >Import dataset [USA]

In [10]:
df.votes

0         544
1        2387
2        2694
3        5290
4         222
         ...
24606       0
24607       0
24608       0
24609       0
24610      53
Name: votes, Length: 24611, dtype: int64

In [2]:
from gym_insurance.envs.benford import Benford

In [12]:
Benford(2).chi_test(df.votes)

[False, True]

In [2]:
import pandas as pd
import plotly.express as px
def read_results(strategy = 'baseline'):
    return pd.read_parquet(f"../data/model_results/{strategy}/_parquet/")

In [3]:
def read_train():
    return pd.read_csv(f"../data/processed/psr_train_set.csv")

In [4]:
train_df = read_train()

In [8]:
(train_df.valor_indenizacao<=9999).sum()

1259

In [13]:
train_df.query('valor_indenizacao==valor_indenizacao').valor_indenizacao.sum()<=99999999

False

In [10]:
train_df.valor_indenizacao.describe()

count      5322.000000
mean      45695.880913
std       63339.607958
min           0.980000
25%       10598.402500
50%       24506.995000
75%       55736.380000
max      835067.500000
Name: valor_indenizacao, dtype: float64

In [24]:
results.query(
    'episodes==0'
).query('steps==steps').drop_duplicates()

,decision,rewards,budget,initial_budget,steps,nr_documento_segurado,nr_proposta,dt_proposta,evento_preponderante,std_valor_indenizacao,...,evento_preponderante_6,evento_preponderante_7,evento_preponderante_8,evento_preponderante_9,evento_preponderante_10,evento_preponderante_11,valor_indenizacao,first_digit,second_digit,episodes
940559,0.0,NaN,4999995.00,4999995,2.0,***33042934,10000116410000274765,2018-06-21,SECA,-0.320396,...,0.0,0.0,0.0,1.0,0.0,0.0,25404.03,25404,25404,0
955050,1.0,170.726666,4999995.00,4999995,3.0,***73692968,4158,2018-07-24,SECA,-0.468346,...,0.0,0.0,0.0,1.0,0.0,0.0,16033.82,16033,16033,0
944444,0.0,170.726666,4983961.18,4999995,4.0,***47549972,109024621,2018-06-29,GRANIZO,-0.720115,...,0.0,0.0,0.0,0.0,0.0,0.0,88.39,88,88,0
978680,1.0,118.463424,4983961.18,4999995,5.0,***44648988,82029671797694,2018-09-12,SECA,-0.628213,...,0.0,0.0,0.0,1.0,0.0,0.0,5908.86,5908,5908,0
829926,1.0,102.374203,4978052.32,4999995,6.0,***55704949,232988441,2016-03-22,GRANIZO,-0.424353,...,0.0,0.0,0.0,0.0,0.0,0.0,18820.03,18820,18820,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
959434,1.0,19.839114,88283.26,4999995,228.0,***94870968,10000116410000276973,2018-07-30,SECA,-0.040235,...,0.0,0.0,0.0,1.0,0.0,0.0,43147.63,43147,43147,0
967510,0.0,19.839114,45135.63,4999995,229.0,***40820982,245528282,2018-04-18,SECA,3.971792,...,0.0,0.0,0.0,1.0,0.0,0.0,297243.97,297243,297243,0
976554,1.0,19.818323,45135.63,4999995,230.0,***17940953,10000116410000278074,2018-08-14,SECA,-0.533222,...,0.0,0.0,0.0,1.0,0.0,0.0,11925.00,11925,11925,0
970164,0.0,19.818323,33210.63,4999995,231.0,***71257934,77034486789242,2018-08-21,SECA,1.180887,...,0.0,0.0,0.0,1.0,0.0,0.0,120485.75,120485,120485,0
945301,0.0,19.818323,33210.63,4999995,232.0,***17705900,109040381,2018-07-03,CHUVA EXCESSIVA,-0.510726,...,0.0,0.0,0.0,0.0,0.0,0.0,13349.75,13349,13349,0

In [ ]:
)
results.loc[:,['steps', 'budget', 'initial_budget']].melt(id_vars='initial_budget')
px.line(results.loc[:,['steps', 'budget', 'initial_budget']].melt(id_vars=['initial_budget', 'steps']),
                       x="steps", 
                       y="value", 
                       color='initial_budget')

In [9]:
results.loc[:,['steps', 'budget', 'initial_budget']].melt(id_vars=['initial_budget', 'steps'])

     initial_budget  steps variable       value
0           9999999      2   budget  9999999.00
1           9999999      3   budget  9999999.00
2           9999999      4   budget  9999999.00
3           9999999      5   budget  9969578.63
4           9999999      6   budget  9969578.63
..              ...    ...      ...         ...
801           99999      2   budget    99999.00
802           99999      3   budget    99999.00
803           99999      4   budget    99999.00
804           99999      5   budget    99999.00
805           99999      6   budget    99999.00

[806 rows x 4 columns]

In [7]:
import pandas as pd


def read_raw():
    PRD_DATA = "../data/processed/full_psr_dados_abertos.csv"
    PRD_SAMPLE_DATA = "data/processed/psr_soja_pr_sample.csv"
    return pd.read_csv(PRD_DATA)

In [8]:
raw_data = read_raw()
raw_data.columns

C:\Users\nande\AppData\Local\Temp\ipykernel_22336\3703307391.py:7: DtypeWarning: Columns (14,18,23,27,32,36) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(PRD_DATA)

Index(['dt_proposta', 'nr_min_long', 'nm_municipio_propriedade', 'nr_seg_long',
       'nr_seg_lat', 'nm_cultura_global', 'niveldecobertura', 'id_proposta',
       'nr_grau_long', 'dt_apolice', 'nr_min_lat', 'pe_taxa',
       'nr_produtividade_segurada', 'nr_grau_lat', 'nm_classif_produto',
       'ano_apolice', 'nr_produtividade_estimada', 'vl_premio_liquido',
       'latitude', 'nr_documento_segurado', 'vl_limite_garantia',
       'vl_subvencao_federal', 'sg_uf_propriedade', 'nr_apolice',
       'nm_segurado', 'dt_inicio_vigencia', 'cd_processo_susep', 'longitude',
       'cd_geocmu', 'dt_fim_vigencia', 'nr_area_total', 'nm_razao_social',
       'nr_proposta', 'nr_animal', 'nr_decimal_latitude',
       'nr_decimal_longitude', 'evento_preponderante', 'valor_indenizacao',
       'formal_latitude', 'formal_longitude'],
      dtype='object')

In [9]:
def read_features():
    return pd.read_csv("../data/processed/psr_sampled_features.csv")

In [10]:
features = read_features()

In [11]:
features.head()

,nr_documento_segurado,vl_premio_liquido,min_vl_premio_liquido,sum_vl_subvencao_federal,cd_processo_susep,nm_cultura_global,cd_geocmu,max_valor_indenizacao,nr_min_long,dt_proposta,...,nr_decimal_latitude,min_vl_subvencao_federal,nr_proposta,formal_longitude,sg_uf_propriedade,dt_fim_vigencia,nm_razao_social,niveldecobertura,dt_apolice,id_proposta
0,***19728972,4022.21,4022.21,47318.08,15414003489200681,Soja,4104808.0,NaN,7.0,2013-09-10,...,NaN,2413.33,210443605,53° 7' 32'' W,PR,23/07/2016,BRASILSEG COMPANHIA DE SEGUROS,0.70,18/09/2013,510609
1,***96690837,2590.94,427.48,14651.64,15414004513201247,Soja,4102109.0,NaN,41.0,2020-09-29,...,NaN,213.74,118111104655244,51° 41' 22'' W,PR,31/05/2021,Essor Seguros S.A.,0.65,21/10/2020 00:00,1246465
2,***99783904,13739.13,7863.37,12175.17,15414003489200681,Soja,4104808.0,NaN,28.0,2013-06-27,...,NaN,3931.69,208631625,53° 28' 14'' W,PR,23/07/2016,BRASILSEG COMPANHIA DE SEGUROS,0.70,01/07/2013,525729
3,***23742987,1247.46,1247.46,2152.06,15414003489200681,Soja,4122404.0,NaN,NaN,2006-11-27,...,NaN,623.73,12314094,nan° nan' nan'' W,PR,22/07/2016,BRASILSEG COMPANHIA DE SEGUROS,0.70,21/11/2006,301390
4,***19360925,12956.62,2186.12,10811.55,15414900320201812,Soja,4113700.0,NaN,10.0,2022-07-05,...,NaN,874.45,2220812047,51° 10' 20'' W,PR,28/02/2023,Sompo Seguros S/A,0.65,28/07/2022 00:00,1597563